<div class="container mt-2">
  <div class="row">
    <div class="col-md-11">
      <input class="form-control mr-sm-2" [(ngModel)]="searchInput" type="search" placeholder="Search all the GIFs"
        aria-label="Search" style="width: 100%">
    </div>
    <div class="col-md-1">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchFun()" type="button"
        style="margin-left: -8px;">Search</button>
    </div>
  </div>
  <div class="row" *ngIf="result">
    <div class="col-md-12 mt-2">
      <span class="border">
        <img *ngFor="let item of result" [src]="item.images.original.url" alt="{{item.title}}" />
      </span>
    </div>
  </div>
  <div class="row mt-2" *ngIf="result">
    <div class="col-sm-12">
      <button class="btn btn-danger" (click)="loadmore()" style="margin-left: 50%">Load More</button>
    </div>
  </div>
</div>